@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Brand Colors */
  --soft-primary: #84D187;
  --primary: #00B207;
  --hard-primary: #2C742F;
  --warning: #FF8A00;
  --danger: #EA4B48;
  --white: #FFFFFF;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-poppins);

  /* Brand Colors */
  --color-soft-primary: var(--soft-primary);
  --color-primary: var(--primary);
  --color-hard-primary: var(--hard-primary);
  --color-warning: var(--warning);
  --color-danger: var(--danger);
  --color-white: var(--white);
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-poppins), sans-serif;
}